<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product</title>
  </head>
  <body>
    <h1>Update Product</h1>
    <form action="/update_product" method="POST" enctype="multipart/form-data">
      <label for="product_id">Product ID:</label>
      <input
        type="text"
        id="product_id"
        name="product_id"
        required
      /><br /><br />

      <label for="name">Product Name:</label>
      <input type="text" id="name" name="name" /><br /><br />

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" /><br /><br />

      <label for="image">New Image:</label>
      <input type="file" id="image" name="image" accept="image/*" /><br /><br />

      <button type="submit">Update Product</button>
    </form>
  </body>
</html>
